*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(125deg ,#160488 , #e18ee0);
    color: #fff;
    padding: 10px;
}

.calculator{
    width: 100%;
    max-width: 600px;/* agar device bdle bhi tb bhi max width isse jyada nhi honi chahiye*/
    margin-left: 15%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 60px;
}

.calculator h1 span{
    color: #e1ef1c;
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.input-box input{
    flex: 1; /* input and button sara bacha space le le lenge pr button same size ka rhta hai to input ki length badhjyegi*/
    margin-right: 20px; /* taki input or button ke bich me gap rhe*/
    padding: 14px 20px;
    border: 0;
    outline: 0;/* Jab input pe click karte ho jo blue border aata hai, use hata deta hai*/
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.input-box button{
    background: #e6f234;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Combined effect (top+left+right+bottom):
    Calendar icon poore input ke area me f*/
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result{
    font-size: 25px;
}

#result span{
    color: #e1ef1c;
}